# Angular
node_modules/
dist/
.angular/

# Java / Spring Boot
target/
*.jar
*.log

# Environment
.env

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Eclipse workspace
backend/.metadata/

# Eclipse
.metadata/
.classpath
.project
.settings/

# Angular
frontend/node_modules
frontend/dist

# Java
**/target

# Logs
*.log