<div class="login-container">
  <div class="login-card">
    <form [formGroup]="form" (ngSubmit)="submit()" autocomplete="off">
      <p class="login-title">Sign in to your account</p>

      <!-- Email or Phone -->
      <div class="form-group">
        <input
          type="text"
          placeholder="Enter email or phone"
          formControlName="emailOrPhone"
          class="input-field"
        />

        <div class="error-message">
          <small *ngIf="form.controls['emailOrPhone'].invalid && form.controls['emailOrPhone'].touched">
            <span *ngIf="form.controls['emailOrPhone'].errors?.['required']">
              Email or Phone is required!
            </span>
          </small>
        </div>
      </div>

      <!-- Password -->
      <div class="form-group">
        <input
          type="password"
          placeholder="Enter password"
          formControlName="password"
          class="input-field"
        />

        <div class="error-message">
          <small *ngIf="form.controls['password'].invalid && form.controls['password'].touched">
            <span *ngIf="form.controls['password'].errors?.['required']">
              Password is required!
            </span>
          </small>
        </div>
      </div>

      <!-- Sign In Button -->
      <button
        type="submit"
        class="login-button"
        [disabled]="form.invalid || loading"
      >
        <span *ngIf="!loading">Sign In</span>
        <span *ngIf="loading" class="spinner-border spinner-border-sm"></span>
      </button>

      <p class="signup-text">
        No account?
        <a [routerLink]="['/auth/register']" class="signup-link">
  Sign up
</a>
      </p>
    </form>
  </div>
</div>